[user]
	email = Axnyff@gmail.com
	name = Axel Nyffenegger
[core]
	editor = vim
	excludesfile = /home/axel/.gitignore_global
[push]
	default = simple
[help]
	autocorrect = 3
[alias]
	git = !exec git
	pushf = push --force-with-lease
	pushu = !git push -u origin `git rev-parse --abbrev-ref HEAD`
